.tarefa-layout {
    display: flex;
    margin-top: 10px;
    height: 55px
}

.tarefa-barra {
    width: 75%;
    border-radius: 5px;
    color: #fff;
    background-color: #6c757d;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}